.home_container{
    display: flex;
    justify-content: center;
  }
  .home_card{
      margin: 2%;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
      border-radius: 0px 30px 0px 30px;
      width: 700px;
      padding: 2%;
      background-color: white;
  }
  
  .home_card header{
      padding: 15px;
  }
  .home_card header h1{
      color:#559574;
  }
  .home_card section{
      padding: 15px;
  }
  .home_card section h4{
      font-size: 1.3rem;
      margin-bottom: 15px;
  }
  .home_card section p{
      margin-top: 5px;
      text-decoration: none;
  }
  .home_card section a{
      color: #559574;
      text-decoration: none;
      font-weight: bold;
      font-style: italic;
  }
  
  @media only screen and (max-width: 800px){
      .home_card{
          width: 90%;
      }
  }