.badgenew{
    width: 100%;
}

.badgenew .badgenew__article{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media only screen and (max-width: 1024px){
    
    .badgenew .badgenew__article{
        grid-template-columns: 1fr;
    }
}