.rocker__container {
  display: flex;
  justify-content: center;
  
}
.rocker__container .card{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  background-color: white;
  width: 60%;
  padding: 3% 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 15px;
}
.card .filter {
  width: 90%;
  display: flex;
  justify-content: space-between;
}
.filter .filter__input {
  width: 50%;
  height: 30px;
  padding: 0.3rem;
  border: 2px solid #559574;
  border-radius: 25px;
  outline: none;
}
.filter__select label {
  padding: 0.5rem;
}
.filter__select select {
  width: 150px;
  height: 30px;
  padding: 0.3rem;
  border: 2px solid #559574;
  border-radius: 25px;
  outline: none;
}
.card .new__badge {
  width: 90%;
  display: flex;
  justify-content: flex-end;
  margin-top:3%;
}
.link_button{
  width: 150px;
  height: 30px;
  padding: 0.3rem;
  color: white;
  background-color: #559574;
  border-radius: 25px;
  outline: none;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card .badges__container {
  margin-top:3%;
  width: 500px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}
.badges__container .badges__container--pagination{
  margin: 10px 0;
  width: 90%;
  display: flex;
  justify-content: space-between;
}
.badges__container--pagination button{
  width: 70px;
  height: 80%;
  padding: 0.3rem;
  border: 2px solid #559574;
  color: white;
  background-color: #559574;
  border-radius: 25px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.badges__container--list{
  width: 90%;
}
.badges__container--list a{
  text-decoration: none;
  color: black;
}
@media only screen and (max-width: 900px) {
  .filter .filter__input {
    width: 40%;
  }
  .filter__select select {
    width: 100px;
  }
  .rocker__container .badges__container {
    width: 90%;
  }
}
@media only screen and (max-width: 746px) {
  .rocker__container .card{

    width: 90%;
    padding: 3% 0%;
  }
}