.home__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3% 0%;
}

.home__container .filter {
  width: 90%;
  display: flex;
  justify-content: space-between;
}
.filter .filter__input {
  width: 50%;
  height: 30px;
  padding: 0.3rem;
  border: 2px solid #559574;
  border-radius: 25px;
  outline: none;
}
.filter__select label {
  padding: 0.5rem;
}
.filter__select select {
  width: 150px;
  height: 30px;
  padding: 0.3rem;
  border: 2px solid #559574;
  border-radius: 25px;
  outline: none;
}
.home__container .new__badge {
  width: 90%;
  display: flex;
  justify-content: flex-end;
  margin-top:3%;
}
.new__badge a{
  width: 150px;
  height: 30px;
  padding: 0.3rem;
  color: white;
  background-color: #559574;
  border-radius: 25px;
  outline: none;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home__container .badges__container {
  margin-top:3%;
  width: 500px;
  display: flex;
  justify-content: center;
}
.badges__container ul{
  width: 90%;
}
@media only screen and (max-width: 500px) {
  .filter .filter__input {
    width: 40%;
  }
  .filter__select select {
    width: 100px;
  }
  .home__container .badges__container {
    width: 100%;
  }
}