.badgeform {
  margin: 2%;
  padding: 2%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  border-radius: 30px 30px 30px 30px;
  background-color: white;
}
.badgeform h1 {
  font-size: 2rem;
}

.form-group {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin: 10px 0;
}
.form-group label {
  font-size: 0.9rem;
}
.form-group .form-group__input {
  border: 2px solid #559574b3;
  border-radius: 25px;
  outline: none;
  width: 100%;
  padding: 0.2rem 0.5rem;
  height: 30px;
}

.form-button {
  margin: 5px 0;
  padding: 10px 20px;
  border: 0px solid #000000;
  border-radius: 25px;
  color: white;
  background-color: #559574;
  font-weight: bold;
}
