.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
  background-image: linear-gradient(to right, #559574, #6bc295);
}
.icon {
  color: white;
  text-decoration: none;
  padding: 14px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon .icon_logo {
  width: 2rem;
  margin-right: 7px;
  padding: 3px;
  margin-right: 10px;
}
.icon .icon_title {
  font-size: 1.3rem;
}

.views {
  margin-right: 5px;
  list-style: none;
}
.view_item {
  float: left;
  text-decoration: none;
}
.view_item a {
  text-decoration: none;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
}
.banner {
  background-image: linear-gradient(to right, #559574, #6bc295);
  display: flex;
  justify-content: center;
  padding: 0px 30px 30px 30px;
  height: 150px;
}

.banner .banner__info {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.banner .banner__info img {
  width: 3rem;
}
.banner .banner__info h2 {
  font-size: 3rem;
  color: white;
}

@media only screen and (max-width: 600px) {
  .banner {
    padding: 0px 5px 5px 5px;
  }
}
